<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="%userprofile%\.nuget\packages" />
  </config>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="imageprocessor" value="https://www.myget.org/F/imageprocessor/api/v3/index.json" />
  </packageSources>
</configuration>
