<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jint" version="2.5.0" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" userInstalled="true" />
  <package id="NLog" version="4.0.1" targetFramework="net45" userInstalled="true" />
  <package id="NLog.Config" version="4.0.1" targetFramework="net45" userInstalled="true" />
  <package id="NLog.Schema" version="4.0.1" targetFramework="net45" userInstalled="true" />
</packages>